.room-content {
  height: 100%;
}

.header {
  height: 120px;
  border-bottom: 1px solid black;
}

.content {
  overflow-y: auto;
  height: calc(100% - 120px - 38px);
  border-bottom: 1px solid black;
}

.info-bar {
  border-left: 1px solid black;
}

.footer {
  height: 38px
}
