<div class="row">
  <div class="col-2">
    <div *ngIf="!clipPlaying">
      <p>Not playing...</p>
    </div>
  </div>
  <div class="col-1">
    <div *ngIf="gameStarted && !clipPlaying">
      <button class="btn btn-success" *ngIf="isHost">|&gt;</button>
    </div>
  </div>
  <div class="col-7">
    <div *ngIf="clipPlaying" class="progress" style="height: 38px;">
      <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="30">15s</div>
    </div>
  </div>
  <div col="col-2">
    <div *ngIf="isHost">
      <button class="btn btn-success" (click)="startNewGame()" *ngIf="gameNotStarted">New Game</button>
    </div>
  </div>
</div>
