<app-title-bar title="Create or Join a Music Bingo Game."></app-title-bar>

<block-ui>
  <div class="row">
    <div class="col">
        <app-page-limit-selector [(pageSize)]="pageSize" (pageSizeChange)="getCurrentGames()"></app-page-limit-selector>
    </div>
    <div class="col d-flex justify-content-end">
      <div class="btn-group" role="group" aria-label="Actions">
        <button type="button" class="btn btn-sm btn-primary" routerLink="/games/create">Create Game</button>
        <button type="button" class="btn btn-sm btn-secondary" (click)="getCurrentGames()">Refresh</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Key</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let game of currentGames">
                <th scope="row">{{game.name}}</th>
                <td scope="row">{{game.category.name}}</td>
                <td scope="row">{{game.key}}</td>
                <td>
                  <div class="btn-group">
                    <button class="btn btn-sm btn-primary" routerLink="/games/{{game.key}}">Join</button>
                    <button class="btn btn-sm btn-info" routerLink="/games/{{game.id}}/play_list">Play List</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <ngb-pagination [(page)]="page"
                      [pageSize]="pageSize"
                      [collectionSize]="total"
                      [rotate]="true"
                      [boundaryLinks]="true"
                      [maxSize]="5"
                      (pageChange)="getCurrentGames()"></ngb-pagination>
    </div>
  </div>
</block-ui>
