#cursor {
  position: absolute;
  left: -28px;
  top: -34px;
  will-change: transform;
  transform: translate(-999px, -999px);
  pointer-events: none;

  img {
    will-change: transform;
    transition: transform .1s linear;
  }
}

#bingobox {
	border: 1px solid black;
	width: 700px;
	height: 700px;
	margin-left: 20%;
	cursor: url("http://localhost:4200/assets/images/cursor_transparent.png"), auto;
}
