<form [formGroup]="playerForm">
  <div formArrayName="playerNames">
    <div class="form-group" *ngFor="let playerName of playerNames.controls; let i=index">
      <label>Player {{i + 1}}:</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" [formControlName]="i">
        <div *ngIf="i > 0" class="input-group-append">
          <button class="btn btn-outline-danger" type="button" (click)="removePlayer(i)">-</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button *ngIf="playerNames.length < 4" class="btn btn-outline-primary btn-block" (click)="addPlayer()">Add Player</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12">
      <button class="btn btn-success btn-block" (click)="onSubmit()">Join</button>
    </div>
  </div>
</form>
