<div class="jumbotron jumbotron-fluid">
  <div class="text-center">
      <h1 class="display-4">Music Bingo</h1>
      <p class="lead">Create a Music Bingo Game.</p>
  </div>
</div>

<div class="row">
  <div class="col-sm">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="gameName">Name</label>
        <input type="text" class="form-control" id="gameName" name="gameName" [(ngModel)]="gameName">
      </div>      
      <div class="form-group">
        <label for="selectCategory">Category</label>
        <select class="form-control" [(ngModel)]="selectedCategory" name="selectedCategory" id="selectedCategory" required>
          <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
        </select>
      </div>
      <button type="submit" class="btn btn-outline-success btn-lg">Create</button>
      <button type="button" class="btn btn-outline-danger btn-lg" routerLink="/games">Cancel</button>
    </form>
  </div>
</div>
