<div class="row">
    <div class="col float-right">
        <app-page-limit-selector [(pageSize)]="pageSize" (pageSizeChange)="getClips()"></app-page-limit-selector>
    </div>
    <div class="col-2">
        <button type="button" class="btn btn-success" (click)="addClip()">Add Clip</button>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Artist</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Length</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let clip of clips; index as index">
                    <td>{{clip.name}}</td>
                    <td>{{clip.artist}}</td>
                    <td>{{clip.start * 1000 | date:'mm:ss'}}</td>
                    <td>{{(clip.start + clip.length) * 1000 | date:'mm:ss'}}</td>
                    <td>{{clip.length * 1000 | date:'mm:ss'}}</td>
                    <td><button type="button" class="btn btn-primary" (click)="editClip(clip)">Edit</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col float-right">
        <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="totalClips" (pageChange)="getClips()">
        </ngb-pagination>
    </div>
</div>