<block-ui>
    <div class="row">
        <div class="col-sm text-center">
            <h1 class="display-4">Music Bingo: {{gameName}}</h1>
            <button type="button" class="btn btn-outline-danger btn-lg" routerLink="/games">Back to Games</button>
            <button type="button" *ngIf="!card" class="btn btn-success btn-lg" (click)="getGameCard()">Get Card</button>
            <button type="button" *ngIf="card" class="btn btn-warning btn-lg" (click)="getGameCard()">Get NEW Card</button>
        </div>
    </div>

    <div class="d-flex justify-content-center" *ngIf="card">
        <app-card [card]="card"></app-card>
    </div>
</block-ui>
