<button *ngIf="!card" class="btn btn-success" (click)="getGameCard()">Get Card</button>
<div class="row game-card" *ngIf="card">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th class="text-center align-middle" scope="col">B</th>
                <th class="text-center align-middle" scope="col">I</th>
                <th class="text-center align-middle" scope="col">N</th>
                <th class="text-center align-middle" scope="col">G</th>
                <th class="text-center align-middle" scope="col">O</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cardRow of [0,1,2,3,4]">
                <td class="text-center align-middle"
                    *ngFor="let cardCol of ['b', 'i', 'n', 'g', 'o']"
                    (click)="toggleState(cardRow, cardCol)">
                    <ng-container *ngIf="card[cardCol][cardRow]; else freeSpace">
                        {{card[cardCol][cardRow].name}}<br>({{card[cardCol][cardRow].artist}})
                    </ng-container>
                    <ng-template #freeSpace>
                        Free
                    </ng-template>
                </td>
            </tr>
        </tbody>
    </table>
</div>
