<div class="jumbotron jumbotron-fluid">
  <div class="text-center">
      <h1 class="display-4">Music Bingo</h1>
      <p class="lead">Create or Join a Music Bingo room.</p>
  </div>
</div>

<div class="row justify-content-end">
  <div class="col-4">
      <button type="button" class="btn btn-primary btn-lg" routerLink="/rooms/create">Create Room</button>
      <button type="button" class="btn btn-secondary btn-lg" (click)="getCurrentRooms()">Refresh</button>
  </div>
</div>
<div class="row">
  <div class="col-sm">
      <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Key</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let room of currentRooms">
              <th scope="row">{{room.id}}</th>
              <td>{{room.name}}</td>
              <td>{{room.key}}</td>
              <td><button class="btn btn-primary" routerLink="/rooms/{{room.key}}">Join</button></td>
            </tr>
          </tbody>
        </table>
  </div>
</div>
