<div *ngIf="room && players.length == 0; else show_room">
  <div class="jumbotron jumbotron-fluid">
    <div class="text-center">
        <h1 class="display-4">Music Bingo Room {{room.name}}</h1>
        <p class="lead">Add players to room (up to 4)</p>
    </div>
  </div>
  <app-player-create [roomKey]="room.key" (playersAddedEvent)="updatePlayers($event)"></app-player-create>
</div>
<ng-template #show_room>
  <div class="row">
    <div class="col-12">
      This is where the videos will go
    </div>
  </div>
  <div class="row">
    <div class="col-11">
      Here are the cards
    </div>
    <div class="col-1">
      Game Info
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      This is the host and clip information section
    </div>
  </div>
</ng-template>
