<div *ngIf="room && players && players.length == 0; else show_room">
  <div class="jumbotron jumbotron-fluid">
    <div class="text-center">
        <h1 class="display-4">Music Bingo Room {{room.name}}</h1>
        <p class="lead">Add players to room (up to 4)</p>
    </div>
  </div>
  <app-player-create [roomKey]="room.key" (playersAddedEvent)="updatePlayers($event)"></app-player-create>
</div>
<ng-template #show_room>
  <div *ngIf="room" class="row room-content">
    <div class="col-12 header bg-primary">
      This is where the videos will go
    </div>
    <div class="col-10 content">
      <h1>Room {{room.name}}</h1>
      <ol>
        <li *ngFor="let player of room.players">{{player.name}}</li>
      </ol>
    </div>
    <div class="col-2 content info-bar">
      Game Info
    </div>
    <div class="col-12 footer">
      <app-host-controls></app-host-controls>
    </div>
  </div>
</ng-template>
