<block-ui>
    <app-title-bar [title]="gameName"></app-title-bar>
    <div class="row">
        <div class="col d-flex justify-content-end">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-danger" routerLink="/games">Back to Games</button>
                <button type="button" *ngIf="!card" class="btn btn-sm btn-success" (click)="getGameCard()">Get Card</button>
                <button type="button" *ngIf="card" class="btn btn-sm btn-warning" (click)="getGameCard()">Get NEW Card</button>
            </div>
        </div>
    </div>

    <app-card [card]="card" *ngIf="card"></app-card>
</block-ui>
